@import url("https://fonts.googleapis.com/css2?family=SUSE+Mono&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-suse: "SUSE Mono", monospace;
}

@theme {
  --animate-wiggle: wiggle 0.5s ease-in-out;
  @keyframes wiggle {
    0%, 100% { transform: translateX(0); }
    25%, 75% { transform: translateX(5px); color:red; }
    50% { transform: translateX(-5px); color:red; }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
